#dash {
    display: flex;
    flex-direction: row;
}
h1,text {
    text-align: center;
}
#bar {
    padding-left: 20px;
    border: 1px solid transparent;
    margin: 20px;
}
.bar {
    margin: 20px;
}
.scatter {
    border: 1px solid transparent;
    height: 250px;
    width: 250px;
    padding: 40px;
}
.axis path,
.axis line {
    stroke: teal;
    shape-rendering: crispEdges;
    display: inline;
}

.axis text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
    font-size: 14px;
    fill: teal;
}
.container {
    border: 1px solid transparent;
    padding-left: 40px;
    padding-bottom: 30px;
    padding: 1px;
}
.k {
    margin-right: 2px;
}
#group {
    display: flex;
    flex-direction: row;
}
#barChart {
    padding: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 300px;
}
#lineChart {
    padding: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 300px;
}
#areaChart {
    padding: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 300px;
}
#pieChart {
    padding: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 300px;
}
#bubbleChart {
    padding: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 300px; 
}
#rectangleChart {
    padding: 10px;
    border: 1px solid transparent;
    width: 300px;
    height: 300px; 
    margin-left: 20px; 
}
